* {
    margin : 0;
    padding: 0;
}

.container_IT19177106{
  background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-wrapper_log_IT19177106{
  background-color:#fff ;
  width: 900px;
    padding: 17px 7px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: black 4px 16px 20px 0px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title_IT19177106{
  color: black;
  padding: 20px;
  font-weight: bold;
}

.email_IT19177106,
.password_IT19177106
{
  /* margin: 10px; */
  color: #4a4a4a;
  font-size: 16px;
}

/* .cpassword{
  margin-bottom: 40px;
} */

.input_log_IT19177106{
  height:35px;
  font-size: 15px;
  outline: none;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
  padding-left: 4px;
}
/* 
.error_IT19177106{
  color: red;
  padding-left: 50px;
} */

.submit_log_IT19177106{
  display: flex;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 10px;
  color: white;
  padding: 10px 60px;
  background: linear-gradient(to right, #30cfd0,#330867 );
  box-shadow: rgba(0,0,0,0.3) 0px 19px 38px,
  rgba(0,0,0,0.22) 0px 15px 12px;
  margin: auto;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.1s;
  margin-bottom: 20px;
  margin-left: 196px;
}

button:active{
  transform: translateY(2px);
}

.input-container_log_IT19177106{
  display: flex;
}

.input-container_log_IT19177106 .zmdi{
  font-size: x-large;
  padding: 10px;
  flex-basis: 12%;
}

.inp .inputs_IT19177106{
  flex-basis: 90%;
}

/* .role select {
  color: #807e7e;
  padding-left: 0px;
} */

.form_log_IT19177106{
  min-width: 40px;
  flex-basis: 50%;
}

.login-form_IT19177106{
    padding-top: 65px;
}

/* .form-container{
  min-width: 845px;
} */
 
.root_IT19177106{
  background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
} 

/* .fileLink{
    margin-top: 10px;
} */

.img_IT19177106{
  filter: hue-rotate(45deg);
}

.signup-images{
  margin-top: 45px;
  /* margin-right: 5px; */
  flex-basis: 50%;
}
