* {
    margin : 0;
    padding: 0;
}

.container_IT19177106{
  background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-wrapper_IT19177106{
  background-color:#ffffff ;
  width: 960px;
  /* min-height: 650px; */
  padding: 20px 80px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: black 4px 16px 20px 0px;
  /* margin: auto; */
  margin: 100px auto;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title_IT19177106{
  color: black;
  /* text-align: center; */
  /* margin: 80px 0px 40px 15px; */
  padding: 20px;
  font-weight: bold;
}

.name_IT19177106,
.email_IT19177106,
.password_IT19177106,
.phone_IT19177106,
.cpassword_IT19177106,
.user_IT19177106,
.livingCountry_IT19177106,
.noOfTravellers_IT19177106,
.comment_IT19177106,
.role_IT19177106{
  margin: 5px;
  color: #4a4a4a;
  font-size: 16px;
}

.cpassword_IT19177106{
  margin-bottom: 40px;
}

.inputcre_IT19177106{
  height:35px;
  font-size: 15px;
  outline: none;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
  padding-left: 4px;
  /* background-color: rgb(231, 239, 255); */
}

.selectcre_it19177106{
  height:35px;
  font-size: 15px;
  outline: none;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
  padding-left: 4px;
  /* background-color: rgb(231, 239, 255); */
}

.travellers_IT19177106{
  height:35px;
  font-size: 15px;
  outline: none;
  width: 50%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
  padding-left: 4px;
    /* background-color: rgb(231, 239, 255); */
}

.error_IT19177106{
  color: red;
  padding-left: 50px;
}

.submit_IT19177106{
  display: flex;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 10px;
  color: white;
  padding: 10px 60px;
  background: linear-gradient(to right, #30cfd0,#330867 );
  box-shadow: rgba(0,0,0,0.3) 0px 19px 38px,
  rgba(0,0,0,0.22) 0px 15px 12px;
  margin: auto;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.1s;
  margin-bottom: 20px;
}
/* 
button:active{
  transform: translateY(2px);
} */

.input-container_cre_IT19177106{
  display: flex;
  /* flex-wrap: wrap; */
}

/* zmdi class inside input-container class */
.input-container_IT19177106 .zmdi{
  font-size: x-large;
  padding: 10px;
  flex-basis: 10%;
}

.input-container_IT19177106 .input_IT19177106{
  /* font-size: x-large; */
  /* padding: 10px; */
  flex-basis: 90%;
}


.form_IT19177106{
  min-width: 440px;
}

.form-container_IT19177106{
  min-width: 845px;
}

.root_IT19177106{
  background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
}

.fileLink_IT19177106{
  margin-top: 10px;
}

.img_IT19177106{
  filter: hue-rotate(45deg);
}

.login_link{
  margin-left: 100px;
} 

.signup-image{
  margin-top: 85px;
}

.icon{
    flex-basis: 10%;
    display: flex;
    align-items: center;
    font-size: x-large;
}

/* body{
background-color: rgb(13, 145, 145);

} */

.backdrop{
  /* background-color: rgb(18, 143, 143); */
  height: 100vh;
  /* style={{ backgroundImage: `url(${backimg})` }}   */
} 